@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgray;
}

header{
    background-color: red;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding-top: 10px;
    text-align: center;
}

header > h1{
    font-size: 3em;
}

nav{
    background-color: red;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 20px;
}

nav > a{
    text-decoration: none;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    transition-duration: 0.5s;
    border-radius: 5px;
    margin-right: 80px;
}

nav > a:hover{
    background-color: black;
    color: white;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.367);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

main img{
    width: 70%;
    margin: auto;
    display: block;
}

main img.benzema{
    padding-top: 20px;
    margin: auto;
    display: block;
}

article > h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

article > h2{
   text-align: center;
   font-family: 'Bebas Neue', cursive;
   font-size: 2.5em;
   padding-bottom: 80px;
   padding-top: 80px;
   padding-bottom: 80px;
}

article  p{
    font-family: 'Merriweather', serif;
    font-weight: normal;
    font-style: normal;
    margin: 30px 0px;
    text-align: justify;
    line-height: 1.8em;
}

article a{
    text-decoration: none;

}

article a:hover{
    background-color: red;
    color: white;
    border-radius: 2px;
    padding: 3px;
    text-decoration: underline;
}

.colado{
    margin: 0px;
    text-align: center;
    font-size: 0.90em;
    padding-bottom: 60px;
}

.cristiano{
    padding-bottom: 150px;
    text-align: center;
    margin: 0px;
    font-family: 'Gloock', serif;
   background-color: red;
   color: white;
   padding: 10px;
   font-size: 1.2em;
   border-radius: 10px 10px 0px 0px;
}

.messi{
    margin: 0px;
    text-align: center;
    font-family: 'Gloock', serif;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px 10px 0px 0px;
   
}

.robert{
    margin: 0px;
    text-align: center;
    font-family: 'Gloock', serif;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px 10px 0px 0px;
    
}

.benzema{
    margin: 0px;
    text-align: center;
    font-family: 'Gloock', serif;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px 10px 0px 0px;
    
}

.raul{
    margin: 0px;
    text-align: center;
    font-family: 'Gloock', serif;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px 10px 0px 0px;
   
}

.ruud{
    margin: 0px;
    text-align: center;
    font-family: 'Gloock', serif;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px 10px 0px 0px;
    
}

.thomas{
    margin: 0px;
    text-align: center;
    font-family: 'Gloock', serif;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px 10px 0px 0px;
    
}

.henry{
    margin: 0px;
    text-align: center;
    font-family: 'Gloock', serif;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px 10px 0px 0px;
}

.andriy{
    margin: 0px;
    text-align: center;
    font-family: 'Gloock', serif;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px 10px 0px 0px;
   
}

.zlatan{
    margin: 0px;
    text-align: center;
    font-family: 'Gloock', serif;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px 10px 0px 0px;
    
}

.imagem{
    padding-bottom: 150px;
}

footer{
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


